@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.main-section__container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.main-section__logo-img {
  position: absolute;
  top: 60px;
  right: 0px;
}

.main-section__abstract-img {
  position: absolute;
  top: -22px;
  right: -64px;
}

.main-section__title-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 300px;
  left: 480px;
  width: 739px;
}

.main-section__slogan-block {
  width: 626px;
  margin-bottom: 60px;
}

.slogan {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cirkul-block {
  display: flex;
}

.cirkul_1,
.cirkul_2 {
  margin-right: 10px;
}

.title-block__title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #0E1036;
}

.title-block__discr {
  width: 670px;
  font-size: 38px;
  line-height: 42px;
  font-weight: 200;
  margin-bottom: 180px;
}

.social-icon-bock {
  padding-left: 550px;
}

.social-icon-block__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #74858E;
}

.social-icon-block__icon {
  display: flex;
}

.social-icon-block__icon img:not(:last-of-type) {
  margin-right: 10px;
}

@media only screen and (max-width: 1280px) {
  .main-section__container {
    height: 790px;
  }
  .main-section__title-block {
    top: 300px;
    left: 360px;
    width: 640px;
  }
  .main-section__slogan-block {
    width: 626px;
    margin-bottom: 60px;
  }
  .slogan {
    font-size: 22px;
  }
  .title-block__title {
    font-size: 42px;
    margin-bottom: 0px;
  }
  .title-block__discr {
    width: 640px;
    font-size: 38px;
    margin-bottom: 75px;
  }
  .social-icon-bock {
    padding-left: 400px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-section__container {
    height: 590px;
  }
  .main-section__title-block {
    top: 195px;
    left: 290px;
    width: 510px;
  }
  .main-section__abstract-img {
    top: -4px;
    right: -54px;
  }
  .main-section__slogan-block {
    width: 476px;
    margin-bottom: 40px;
  }
  .slogan {
    font-size: 18px;
  }
  .title-block__title {
    font-size: 32px;
  }
  .title-block__discr {
    width: 510px;
    font-size: 32px;
    margin-bottom: 70px;
  }
  .social-icon-bock {
    padding-left: 340px;
  }
  .social-icon-block__title {
    font-size: 16px;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .main-section__container {
    height: 430px;
  }
  .main-section__title-block {
    top: 120px;
    left: 240px;
    width: 413px;
  }
  .main-section__abstract-img {
    top: -4px;
    right: -54px;
  }
  .main-section__slogan-block {
    width: 369px;
    margin-bottom: 20px;
  }
  .slogan {
    font-size: 14px;
  }
  .title-block__title {
    font-size: 26px;
  }
  .title-block__discr {
    width: 300px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .social-icon-bock {
    padding-left: 240px;
  }
  .social-icon-block__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .social-icon-block__icon img:not(:last-of-type) {
    margin-right: 6px;
  }
}
@media only screen and (max-width: 640px) {
  .main-section__container {
    position: inherit;
    flex-direction: column;
  }
  .main-section__title-block {
    top: 120px;
    left: 200px;
    width: 274px;
  }
  .main-section__abstract-img {
    top: 0px;
    right: -20px;
  }
  .main-section__slogan-block {
    width: 274px;
    margin-bottom: 10px;
  }
  .slogan {
    font-size: 10px;
  }
  .title-block__title {
    font-size: 18px;
  }
  .title-block__discr {
    width: 264px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .social-icon-bock {
    padding-left: 120px;
  }
  .social-icon-block__title {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .social-icon-block__icon img:not(:last-of-type) {
    margin-right: 6px;
  }
}/*# sourceMappingURL=main-section.css.map */