@import "../variables.scss";

.signs-section {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: $palitra_2;
}

.signs-section__container {
    position: relative;
}

.drop {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 650px;
    height: 20px;
    border-radius: 4px;
    background-color: $palitra_3;
    z-index: 0;
}

.signs-section__title-block {
    margin-bottom: 60px;
}

.h2-section-title {
    position: relative;
    font-size: 48px;
    font-weight: 600;
    color: $palitra_1;
    margin-bottom: 6px;
    z-index: 1;
}

.signs-check-block__one-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.signs-check-block__one-block ul {
    margin-right: 20px !important;
}

.signs-check-block__second-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.signs-check__item {
    display: flex;
    align-items: center;
    width: 738px;
    height: 100px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 20px;
    padding-left: 80px;
    color: $palitra_5;
    background-color: $palitra_1;
    background-image: url(../../img/check-icon.svg);
    background-position: 20px;
    background-repeat: no-repeat;
}

.signs-check__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.signs-check-block__slogan_1 {
    width: 436px;
    font-size: 44px;
    font-weight: 100;
    color: $palitra_1;
}

.signs-check-block__slogan_2 {
    width: 474px;
    font-size: 26px;
    font-weight: 400;
    color: $palitra_1;
    margin-right: 20px;
}

.drop__bottom {
    top: inherit;
    right: inherit;
    left: 0px;
    bottom: 30px;
    width: 340px;
}

@media only screen and (max-width: 1280px) {
    .signs-section {
        padding-top: 40px;
    }

    .drop {
        top: 15px;
        width: 405px;
    }

    .h2-section-title {
        font-size: 40px;
    }

    .signs-check__item {
        width: 575px;
        height: 80px;
        font-size: 20px;
        font-weight: 400;
    }

    .signs-check-block__slogan_1 {
        width: 382px;
        font-size: 34px;
    }
    
    .signs-check-block__slogan_2 {
        width: 382px;
        font-size: 22px;
    }

    .drop__bottom {
        top: inherit;
        right: inherit;
        left: 0px;
        bottom: 30px;
        width: 320px;
    }
}

@media only screen and (max-width: 1024px) {
    .drop {
        top: 12px;
        width: 360px;
        height: 16px;
    }

    .h2-section-title {
        font-size: 32px;
    }

    .signs-check__item {
        width: 460px;
        height: 60px;
        font-size: 18px;
        border-radius: 10px;
    }

    .signs-check__item:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .signs-check-block__slogan_1 {
        width: 327px;
        font-size: 28px;
    }
    
    .signs-check-block__slogan_2 {
        width: 325px;
        font-size: 18px;
    }

    .drop__bottom {
        top: inherit;
        right: inherit;
        left: 0px;
        bottom: 30px;
        width: 260px;
        height: 12px;
    }
}

@media only screen and (max-width: 800px) {
    .signs-section {
        padding-bottom: 60px;
    }

    .drop {
        top: 12px;
        width: 245px;
        height: 14px;
    }

    .signs-section__title-block {
        margin-bottom: 30px;
    }

    .h2-section-title {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .signs-check__item {
        width: 372px;
        height: 50px;
        font-size: 12px;
        border-radius: 10px;
        padding-left: 60px;
        background-image: url(../../img/check-icon-min.svg);
    }

    .signs-check__item:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .signs-check-block__slogan_1 {
        width: 260px;
        font-size: 22px;
    }
    
    .signs-check-block__slogan_2 {
        width: 258px;
        font-size: 12px;
    }

    .drop__bottom {
        top: inherit;
        right: inherit;
        left: 0px;
        bottom: 30px;
        width: 154px;
        height: 8px;
    }
}

@media only screen and (max-width: 640px) {
    .drop {
        top: 8px;
        width: 184px;
        height: 10px;
    }

    .signs-section__title-block {
        margin-bottom: 30px;
    }

    .h2-section-title {
        font-size: 20px;
    }

    .signs-check-block__slogan_1 {
        display: none;
    }
    
    .signs-check-block__slogan_2 {
        display: none;
    }

    .drop__bottom {
        top: inherit;
        right: inherit;
        left: 0px;
        bottom: 28px;
        width: 72px;
        height: 8px;
    }
}