@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Inter", sans-serif;
  background-color: #EDF4FE;
  color: #0E1036;
}

section {
  margin-bottom: 130px;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    width: 640px;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 480px;
  }
}
.main-section__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-section__logo-img {
  position: absolute;
  top: 60px;
  right: 0px;
}

.main-section__abstract-img {
  position: absolute;
  top: -22px;
  right: -64px;
}

.main-section__main-img {
  margin-right: 60px;
}

.main-section__title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-section__slogan-block {
  width: 626px;
  margin-bottom: 60px;
}

.slogan {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cirkul-block {
  display: flex;
}

.cirkul_1,
.cirkul_2 {
  margin-right: 10px;
}

.title-block__title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #0E1036;
}

.title-block__discr {
  width: 670px;
  font-size: 38px;
  line-height: 42px;
  font-weight: 200;
  margin-bottom: 20px;
}

.social-icon-bock {
  padding-left: 550px;
}

.social-icon-block__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #74858E;
}

.social-icon-block__icon {
  display: flex;
}

.social-icon-block__icon img:not(:last-of-type) {
  margin-right: 10px;
}

@media only screen and (max-width: 1280px) {
  .main-section__container {
    height: 790px;
  }
  .main-section__title-block {
    top: 300px;
    left: 360px;
    width: 640px;
  }
  .main-section__slogan-block {
    width: 626px;
    margin-bottom: 60px;
  }
  .slogan {
    font-size: 22px;
  }
  .title-block__title {
    font-size: 42px;
    margin-bottom: 0px;
  }
  .title-block__discr {
    width: 640px;
    font-size: 38px;
    margin-bottom: 75px;
  }
  .social-icon-bock {
    padding-left: 400px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-section__container {
    height: 590px;
  }
  .main-section__title-block {
    top: 195px;
    left: 290px;
    width: 510px;
  }
  .main-section__abstract-img {
    top: -4px;
    right: -54px;
  }
  .main-section__slogan-block {
    width: 476px;
    margin-bottom: 40px;
  }
  .slogan {
    font-size: 18px;
  }
  .title-block__title {
    font-size: 32px;
  }
  .title-block__discr {
    width: 510px;
    font-size: 32px;
    margin-bottom: 70px;
  }
  .social-icon-bock {
    padding-left: 340px;
  }
  .social-icon-block__title {
    font-size: 16px;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .main-section {
    margin-bottom: 80px;
  }
  .main-section__container {
    height: 430px;
  }
  .main-section__title-block {
    top: 120px;
    left: 240px;
    width: 413px;
  }
  .main-section__abstract-img {
    top: -4px;
    right: -54px;
  }
  .main-section__slogan-block {
    width: 369px;
    margin-bottom: 20px;
  }
  .slogan {
    font-size: 14px;
  }
  .title-block__title {
    font-size: 26px;
  }
  .title-block__discr {
    width: 300px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .social-icon-bock {
    padding-left: 240px;
  }
  .social-icon-block__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .social-icon-block__icon img:not(:last-of-type) {
    margin-right: 6px;
  }
}
@media only screen and (max-width: 640px) {
  .main-section {
    margin-bottom: 0px;
  }
  .main-section__container {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  .main-section__main-img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .main-section__abstract-img {
    top: 0px;
    right: -50px;
  }
  .main-section__title-block {
    position: static;
    width: 100%;
  }
  .social-icon-bock {
    display: none;
    padding-left: 320px;
    width: 458px;
  }
  .social-icon-block__icon {
    justify-content: flex-end;
  }
}
.signs-section {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #345582;
}

.signs-section__container {
  position: relative;
}

.drop {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 650px;
  height: 20px;
  border-radius: 4px;
  background-color: #E0643F;
  z-index: 0;
}

.signs-section__title-block {
  margin-bottom: 60px;
}

.h2-section-title {
  position: relative;
  font-size: 48px;
  font-weight: 600;
  color: #EDF4FE;
  margin-bottom: 6px;
  z-index: 1;
}

.signs-check-block__one-block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.signs-check-block__one-block ul {
  margin-right: 20px !important;
}

.signs-check-block__second-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.signs-check__item {
  display: flex;
  align-items: center;
  width: 738px;
  height: 100px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 20px;
  padding-left: 80px;
  color: #0E1036;
  background-color: #EDF4FE;
  background-image: url(../../img/check-icon.svg);
  background-position: 20px;
  background-repeat: no-repeat;
}

.signs-check__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.signs-check-block__slogan_1 {
  width: 436px;
  font-size: 44px;
  font-weight: 100;
  color: #EDF4FE;
}

.signs-check-block__slogan_2 {
  width: 474px;
  font-size: 26px;
  font-weight: 400;
  color: #EDF4FE;
  margin-right: 20px;
}

.drop__bottom {
  top: inherit;
  right: inherit;
  left: 0px;
  bottom: 30px;
  width: 340px;
}

@media only screen and (max-width: 1280px) {
  .signs-section {
    padding-top: 40px;
  }
  .drop {
    top: 15px;
    width: 405px;
  }
  .h2-section-title {
    font-size: 40px;
  }
  .signs-check__item {
    width: 575px;
    height: 80px;
    font-size: 20px;
    font-weight: 400;
  }
  .signs-check-block__slogan_1 {
    width: 382px;
    font-size: 34px;
  }
  .signs-check-block__slogan_2 {
    width: 382px;
    font-size: 22px;
  }
  .drop__bottom {
    top: inherit;
    right: inherit;
    left: 0px;
    bottom: 30px;
    width: 320px;
  }
}
@media only screen and (max-width: 1024px) {
  .drop {
    top: 12px;
    width: 360px;
    height: 16px;
  }
  .h2-section-title {
    font-size: 32px;
  }
  .signs-check__item {
    width: 460px;
    height: 60px;
    font-size: 18px;
    border-radius: 10px;
  }
  .signs-check__item:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .signs-check-block__slogan_1 {
    width: 327px;
    font-size: 28px;
  }
  .signs-check-block__slogan_2 {
    width: 325px;
    font-size: 18px;
  }
  .drop__bottom {
    top: inherit;
    right: inherit;
    left: 0px;
    bottom: 30px;
    width: 260px;
    height: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .signs-section {
    padding-bottom: 60px;
  }
  .drop {
    top: 12px;
    width: 245px;
    height: 14px;
  }
  .signs-section__title-block {
    margin-bottom: 30px;
  }
  .h2-section-title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .signs-check__item {
    width: 372px;
    height: 50px;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 60px;
    background-image: url(../../img/check-icon-min.svg);
  }
  .signs-check__item:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .signs-check-block__slogan_1 {
    width: 260px;
    font-size: 22px;
  }
  .signs-check-block__slogan_2 {
    width: 258px;
    font-size: 12px;
  }
  .drop__bottom {
    top: inherit;
    right: inherit;
    left: 0px;
    bottom: 30px;
    width: 154px;
    height: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .drop {
    top: 8px;
    width: 184px;
    height: 10px;
  }
  .signs-section__title-block {
    margin-bottom: 30px;
  }
  .h2-section-title {
    font-size: 20px;
  }
  .signs-check-block__slogan_1 {
    display: none;
  }
  .signs-check-block__slogan_2 {
    display: none;
  }
  .drop__bottom {
    top: inherit;
    right: inherit;
    left: 0px;
    bottom: 28px;
    width: 72px;
    height: 8px;
  }
}