@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//-- Шрифты
$font-family: "Inter", sans-serif;


// ------ Цветовая политра --
$palitra_1: #EDF4FE;
$palitra_2: #345582;
$palitra_3: #E0643F;
$palitra_4: #F6CC79;
$palitra_5: #0E1036;
$palitra_6: #B5BEC3;
$palitra_7: #74858E;
